<!DOCTYPE html>
<html>
  <head>
    <title>AidPlatform</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <section id="top-home">
      <%= render "shared/header", container_class: "container-fluid" %>
    </section>


    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <h2>About Thank.You</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi leo urna molestie at elementum eu facilisis sed. 
              Amet facilisis magna etiam tempor orci eu lobortis elementum. Neque viverra justo nec ultrices dui. Morbi enim nunc faucibus a.
              Lorem dolor sed viverra ipsum nunc aliquet bibendum enim. Purus sit amet volutpat consequat mauris nunc. 
            </p>

          </div>
        </div>
      </div>

    </section>

    <section id="image-spacer">

    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <h2>Contact</h2>
          </div>
        </div>
        <div class="row pb-3">
          <div class="col-md-4  offset-md-2 contact-first-col">
            <span>Thank.You</span>
            <span>1193  Charter Street</span>
            <span>Lenexa, KS</span>
            <span>phone: 913-825-6454</span>
            <span>email: <a href="mailto:contact@boulderbiketour.com">contact@thankyou.com</a></span> 
          </div>
          <div class="col-md-4 contact-second-col">
            <a href="https://twitter.com/"><span class="fab fa-twitter-square"></span></a>
            <a href="https://facebook.com/"><span class="fab fa-facebook-square"></span></a>
            <a href="https://www.instagram.com/"><span class="fab fa-instagram"></span></a>
          </div>
        </div>
      </div>
    </section>

  </body>
</html>
